{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/loginsite.css') }}">

<div class="cover-container d-flex p-3 mx-auto flex-column">
  <form method="POST">
    {{ form.hidden_tag() }}
    <h3 class="mb-3 pb-3" align="center" style="letter-spacing: 1px;">Sign in</h3>

    <div class="form-outline mb-4">
      {{ form.username(placeholder="User name", class_="form-control") }}
      <label class="form-label">Login</label>
    </div>

    <div class="form-outline mb-4">
      {{ form.password(placeholder="Password", class_="form-control") }}
      <label class="form-label" for="password">Password</label>
    </div>
    
    <div class="mx-auto signbutton">
    <div class="pt-1 mb-4">
      {{ form.submit(class_="btn btn-primary btn-lg btn-block") }}
    </div>
    </div>
  </form>
</div>  
<!--script-->
<script type="text/javascript" src="{{ url_for('static', filename='scripts/block.js') }}"></script>
{% endblock %}