{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}
<form method="POST">
  {{ form.hidden_tag() }}
    <h3 align="center">Sign Up</h3>
    <div class="form-group">
      {{ form.emailAddress(placeholder="Email", class_="form-control") }}
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
      />
    </div>

    <div class="form-group">
      {{ form.username(placeholder="User name", class_="form-control") }}
      <label for="nickname">Nickname</label>
        <input
          type="text"
          class="form-control"
          id="nickname"
          name="nickname"
        />
    </div>

    <div class="form-group">
      {{ form.emailAddress(placeholder="First name", class_="form-control") }}
      <label for="firstName">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
      />
    </div>
    <div class="form-group">
      {{ form.password1(placeholder="Password", class_="form-control") }}
      <label for="password1">Password</label>
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
      />
    </div>
    <div class="form-group">
      {{ form.password2(placeholder="Password", class_="form-control") }}
      <label for="password2">Password (Confirm)</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
      />
    </div>
    <br />
    <div class="d-flex justify-content-center">
      {{ form.submit(class_="btn btn-primary btn-block btn-lg") }}
    </div>
  </form>

{% endblock %}
